<div id="header">
  <p id="name">Anesh</p>
  <a href="mailto:anesh.bgnlr@outlook.com" target="_blank"
    ><p id="email">anesh.bgnlr@outlook.com</p></a
  >
</div>
<div class="left"></div>
<div class="right">
  <h3>Professional Experience</h3>
  <ul>
    <li>I'm a freelance trainer</li>
    <li>I train people on Angular 6 and React Js</li>
  </ul>
  <h3>Educational Qualifications</h3>
  <table>
    <tr id="heading">
      <td>Qualification</td>
      <td>Board</td>
      <td>Percentage / Grades</td>
      <td>Year</td>
    </tr>
    <tr>
      <td>S.S.L.C</td>
      <td>Matric</td>
      <td>81%</td>
      <td>2002</td>
    </tr>
    <tr>
      <td>H.S.C</td>
      <td>Matric</td>
      <td>61%</td>
      <td>2004</td>
    </tr>
    <tr>
      <td>B.Tech(IT)</td>
      <td>Dr.M.G.R University</td>
      <td>A Grade</td>
      <td>2008</td>
    </tr>
  </table>

  <h3>Technical Skills</h3>
  <ul>
    <li><span id="course-name">Front-End-Framework:</span> Angular</li>
    <li><span id="course-name">Javascript Library:</span> React Js</li>
    <li>
      <span id="course-name">Programming Skills:</span>HTML, CSS, JavaScript
    </li>
  </ul>
</div>
