<p>
  These are the topics,which i prefer and teach for the angular
  canditates,Course duration is 25-30 days
</p>
<div class="row">
  <div class="column">
    <ul>
      <li id="li1">#Topic 1-Quickstart</li>
      <li>Overview</li>
      <li>Intro to TypeScript</li>
      <li>Writing our first app</li>
      <li>String Interpolation</li>
      <li>Looping</li>
      <li>Property & Event Binding</li>
      <li>Domain Model</li>
      <li>Nesting Components & Inputs</li>
      <li>User Interaction & Outputs</li>
    </ul>

    <ul>
      <li id="li1">#Topic 2-ES6 & TypeScript</li>
      <li>TypeScript Setup</li>
      <li>Overview</li>
      <li>Let</li>
      <li>Const</li>
      <li>Template Strings</li>
      <li>Fat Arrow Functions</li>
      <li>Destructuring</li>
      <li>For Of</li>
      <li>Map & Set</li>
      <li>Promises</li>
      <li>Class & Interface</li>
      <li>Decorators</li>
      <li>Modules</li>
      <li>Types</li>
    </ul>
    <ul>
      <li id="li1">#Topic 3-Angular CLI</li>
      <li>Angular CLI</li>
    </ul>
    <ul>
      <li id="li1">#Topic 4-Components</li>
      <li>Overview</li>
      <li>Architecting with Components</li>
      <li>Templates, Styles & View Encapsulation</li>
      <li>Content Projection</li>
      <li>Lifecycle Hooks</li>
      <li>ViewChildren & ContentChildren</li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li id="li1">#Topic 5-Built-in Directives</li>
      <li>Overview</li>
      <li>NgFor</li>
      <li>NgIf & NgSwitch</li>
      <li>NgStyle & NgClass</li>
      <li>NgNonBindable</li>
      <li>Structural Directives</li>
    </ul>
    <ul>
      <li id="li1">#Topic 6-Custom Directives</li>
      <li>Overview</li>
      <li>Creating a custom directive</li>
      <li>HostListener & HostBinding</li>
      <li>Inputs & Configuration</li>
    </ul>
    <ul>
      <li id="li1">#Topic 7-Reactive Programming with RxJS</li>
      <li>Overview</li>
      <li>Streams & Reactive Programming</li>
      <li>Observables & RxJS</li>
      <li>RxJS & Angular</li>
    </ul>
    <ul>
      <li id="li1">#Topic 8-Pipes</li>
      <li>Overview</li>
      <li>Built-in Pipes</li>
      <li>Async Pipe</li>
      <li>Custom Pipes</li>
    </ul>
    <ul>
      <li id="li1">#Topic 9-Forms</li>
      <li>Overview</li>
      <li>Model Driven Forms</li>
      <li>Model Driven Form Validation</li>
      <li>Submitting & Resetting</li>
      <li>Reactive Model Form</li>
      <li>Template Driven Forms</li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li id="li1">#Topic 10-Dependency Injection & Providers</li>
      <li>Overview</li>
      <li>Injectors</li>
      <li>Provider</li>
      <li>Tokens</li>
      <li>Configuring Dependency Injection in Angular</li>
      <li>
        NgModule.providers vs Component.providers vs Component.viewProviders
      </li>
    </ul>
    <ul>
      <li id="li1">#Topic 11-HTTP</li>
      <li>Overview</li>
      <li>Core HTTP API</li>
      <li>HTTP Example with Promises</li>
      <li>HTTP Example with Observables</li>
      <li>JSONP Example with Observables</li>
    </ul>
    <ul>
      <li id="li1">#Topic 12-Routing</li>
      <li>Overview</li>
      <li>Route Configuration</li>
      <li>Navigation</li>
      <li>Parameterised Routes</li>
      <li>Nested Routes</li>
      <li>Router Guards</li>
      <li>Routing Strategies</li>
    </ul>
  </div>
</div>
